html {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

.vert_indent {
  height: 40px;
}

.wrapper {
  width: 100%;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.grid_wrap {
  margin: 30px auto 30px auto;
  width: fit-content;
  border: double 3px green;
  border-radius: 16px;
}

#_grid {
  margin: 8px 7px 7px 8px;
}

#_grid:hover {
  cursor: crosshair;
}

.level {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  display: inline-block;
  margin-right: 1px;
  /* border-radius: 1px; */
  background-color: #ffffff;
  box-shadow: 0 0 0 1px black;
  /* -webkit-transition: opacity 1s; */
  /* transition: opacity .05s, transform .05s, border-radius .05s; */
}

.cell:hover {
  transform: scale(1.1);
  opacity: 0.8;
  border-radius: 1px;
}

.draw_button_wrap {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}

.draw_button {
  height: 64px;
  width: 128px;
  background-color: magenta;
  color: wheat;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: transform 0.2s, background-color 0.1s ease-in;
}

.draw_button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.draw_button:active {
  background-color: red;
}

.black {
  background-color: black;
}
