html {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper:hover {
  cursor: default;
}

h1 {
  text-align: center;
}

.draw_button_wrap {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}

.draw_button {
  height: 64px;
  width: 128px;
  background-color: #4b0082;
  color: gold;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: transform 0.2s, background-color 0.1s ease-in;
}

.draw_button:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.draw_button:active {
  background-color: #800000;
}

.palette {
  display: grid;
  padding-top: 2rem;
  grid-template-columns: 13% 87%;
  height: fit-content;
  align-items: center;
}

#picker_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  height: 8rem;
  width: 8rem;
  border-radius: 1.5rem;
  border: none;
  transition: transform 0.2s;
  overflow: hidden;
}

#picker_wrap:hover {
  transform: scale(1.15);
}

#any_color_picker {
  height: 5rem;
  width: 5rem;
  outline: none;
  transform: scale(2);
}

#any_color_picker:hover {
  cursor: pointer;
}

.color_selection {
  justify-self: center;
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.4rem;
  align-items: center;
  justify-items: center;
}

.color_block {
  height: 3rem;
  width: 3rem;
  border: solid 1px black;
  border-radius: 12px;
  transition: all 0.2s;
  box-shadow: 1px 3px 8px 0 black;
}

.color_block:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#grid_wrap {
  display: block;
  width: fit-content;
  margin: 3rem auto 2rem auto;
  padding: 1rem;
  background-color: #4B0082;
  border: solid 6px goldenrod;
  border-radius: 24px;
  box-shadow: 0 0 32px 0 #708090;
}

#_grid {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: whitesmoke;
}

#_grid:hover {
  cursor: crosshair;
}

.cell {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 black;
  -webkit-transition: -webkit-opacity 0.07s, -webkit-transform 0.07s;
  transition: opacity 0.07s, transform 0.07s;
}

.cell:hover {
  transform: scale(1.25);
  opacity: 0.8;
  box-shadow: 0 0 0 .8px black;
  border-radius: 1px;
}
