html {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

.vert_indent {
  height: 40px;
}

.wrapper {
  width: 100%;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.draw_button_wrap {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}

.draw_button {
  height: 64px;
  width: 128px;
  background-color: #4B0082;
  color: gold;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: transform 0.2s, background-color 0.1s ease-in;
}

.draw_button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.draw_button:active {
  background-color: #800000;
}

.color_picker {
  margin: 30px auto 0 auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
}

.color_block {
  height: 40px;
  width: 40px;
  border: solid 1px black;
  border-radius: 12px;
  transition: all 0.2s;
}

.color_block:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.grid_wrap {
  margin: 30px auto 30px auto;
  width: fit-content;
  border: double 3px green;
  border-radius: 8px;
}

#_grid {
  margin: 11px 10px 10px 11px;
}

#_grid:hover {
  cursor: crosshair;
}

.level {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  display: inline-block;
  margin-right: 1px;
  /* border-radius: 1px; */
  background-color: #ffffff;
  box-shadow: 0 0 0 1px black;
  /* -webkit-transition: opacity 1s; */
  /* transition: opacity .05s, transform .05s, border-radius .05s; */
}

.cell:hover {
  transform: scale(1.1);
  opacity: 0.8;
  border-radius: 1px;
}

.black {
  background-color: black;
}

.silver {
  background-color: silver;
}

.white {
  background-color: white;
}

.fuchsia {
  background-color: fuchsia;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.maroon {
  background-color: maroon;
}

.yellow {
  background-color: yellow;
}

.gold {
  background-color: gold;
}

.olivedrab {
  background-color: olivedrab;
}

.lime {
  background-color: lime;
}

.springgreen {
  background-color: springgreen;
}

.green {
  background-color: green;
}

.aqua {
  background-color: aqua;
}

.blue {
  background-color: blue;
}

.navy {
  background-color: navy;
}
